---

---

<div
  class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <div class="flex items-start justify-start mb-4">
    <h1 class="text-xl font-bold text-gray-900 sm:text-2xl dark:text-white">
      Datasets
    </h1>
  </div>
  <div class="space-y-2 text-lg text-justify font-light text-gray-500">
    <p>
      Vividus offers a selection of datasets on which to test the models
      uploaded to the system. Here you will see a list of all the datasets
      currently available, and you can browse the results and implementations of
      the different models evaluated with each of them. The datasets consist of
      videos of different nature such as movies or surveillance footage,
      including videos with and without violent content. The videos that make up
      each of the datasets have been hand-tagged frame by frame and thoroughly
      reviewed to ensure correct evaluation results.
    </p>
  </div>
</div>
