---

---

<div class="grid gap-4 grid-cols-1">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
  >
    <div class="flex items-start justify-start mb-6">
      <h1 class="text-xl font-bold text-gray-900 sm:text-2xl dark:text-white">
        Playground
      </h1>
    </div>
    <div class="text-lg text-justify font-light text-gray-500">
      <p>
        Here you can test the models uploaded by other researchers with your own
        videos. The videos are preprocessed in the browser and then the
        classification is carried out with the selected model.
      </p>
    </div>
  </div>
</div>
