---

---

<div
  class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-primary-700 flex flex-col items-center justify-center"
>
  <div
    class="animate-spin inline-block size-12 border-[3px] border-current border-t-transparent text-white rounded-full mb-4"
    role="status"
    aria-label="loading"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <h2 class="text-center text-white text-xl font-bold">Loading ...</h2>
  <p class="w-1/3 text-center text-white">
    This may take some time, please don't close this page.
  </p>
</div>
