---
const { submission } = Astro.props;
---

<div class="grid gap-4 mt-4 grid-cols-1">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
  >
    <div class="flex items-start justify-start mb-6">
      <h1 class="text-2xl font-bold text-gray-900 lg:text-4xl dark:text-white">
        {submission.title}
      </h1>
    </div>
    <div class="text-lg text-justify font-light text-gray-500">
      <p>
        {submission.description}
      </p>
    </div>
  </div>
</div>
