---
const { dataset } = Astro.props;
---

<div
  class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <div class="flex items-start justify-start mb-4">
    <h1 class="text-xl font-bold text-gray-900 sm:text-2xl dark:text-white">
      {dataset.title}
    </h1>
  </div>
  <div class="space-y-2 text-lg text-justify font-light text-gray-500">
    <p>{dataset.description}</p>
  </div>
</div>
